/*

- Change the background color of the header and footer.
- Modify the font styles (font-family, font-size) for the headings and paragraphs.
- (ADVANCED) Add hover effects to the navigation links and buttons.
- (ADVANCED) Use CSS Grid or Flexbox to create a more complex layout for the gallery and project sections.
- (ADVANCED) Design a Modern Navigation Bar
- 
*/

a:hover{
    text-decoration: underline;

}
body {
    font-family: Arial, sans-serif;
    font-size: 20px;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {
    color: #fff;
    padding: 10px 0;
}
nav{
    background-color: #000000 !important;
}
nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

footer {
    height: 50px;
    background: #000000;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    gap: 10px;
    align-content: center;
    position: relative !important;
    width: 100%;
}
.galeria{
    align-content: center;
    display: flex;
    flex-flow: row wrap;
    gap: 10px 10px;
}
a.a:hover{
   text-decoration: none; 
}
form{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    display: none;
}
.text,textarea{
    border-radius: 5px;
}
textarea::placeholder,input::placeholder{
    color: black;
}
p{
    font-size: 20px;
}